/*
Color Pallette
grayish  : 434750
bordeauxish : #50434d
goldish : #504c43
greenish : #435046
*/
.home, .single-player, .account-create, .lobby-host, .login, .about, .lobby-overview{
  float: left;
  width: 70%;
  height: 100vh;
  /* background-color: purple; */
  
}

#global-chat {
 float: left;
 width: 30%;
 height: 100vh;
 /* max-height: 88vh; */
 overflow: hidden;
 /* background-color: sandybrown; */

}

html {
  height: 100%;
}
body{
  background-color: #434750;
  color: whitesmoke;
}
button {
    color: orange;
    background-color: #50434d;
    padding: 1px;
}
button:hover {
    color: white;
    background-color: #50434d;
    padding: 1px;
}
img{
  opacity: 0.5;
}
img:hover{
  opacity: 1;
  cursor: pointer;
}

/**
 * CSS Identifiers
 */
#main-chat {
  float: left;
  width: 30%;
  height: 88vh;
  /* max-height: 88vh; */
  overflow: hidden;
  background-color: sandybrown;

}

#main-list {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  background-color: #767980;
  list-style-type: none;  
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

#room-chatbox-broadcast {
  
}

#room-chatbox-panel{
  font-weight: 500;
  color: darkslateblue;
  background-color: #eeeeee;
  max-height: 70vh;
  height: 70vh;
  white-space: pre !important;
  word-wrap: normal !important;
  word-break: normal !important;
  height: auto;
  overflow: auto;
}

#room-signalr-message-panel{
  height: 70vh;
  max-height: 70vh;
}

#top-chat {
  float: left;
  overflow: hidden;
  width: 60%;
  height: 16vh;
}

#top-chatbox-img{
  float: left;
  overflow: hidden;
  max-width: 20%;
  height: 13vh;
  margin: auto;
  display: block;
}

#top-chat img{
  
  object-fit: initial ;
  /* opacity: 1; */
  /* float: left; */
  /* max-width: 20%; */
  /* height: 13vh; */
  max-height: 12vh;
}
#top-chat img:hover{
}
#top-chatbox{
  background-color: #435046;
  float: left;
  overflow: hidden;  
  width: 80%;
  height: 13vh;
}
#top-chatbox-broadcast{
  float: left;
  width: 20%;
  height: 3vh;
  align-self: center;
  align-content: center;
  text-align: center;
  padding-top:0.1vh;
}
#top-chatbox-broadcast button{
  align-self: center;
  align-content: center;
  text-align: center;
}
#top-chatbox-input{
  float: left;
  width: 80%;
  height: 3vh;
}
#top-chatbox-input input{
  padding-right:5%;
  width:95%;
  height: 100%;
}
#top-chatbox-panel{
  font-weight: 500;
  color: darkslateblue;
  background-color: #eeeeee;
  max-height: 10vh;
  height: 10vh;
  white-space: pre !important;
  word-wrap: normal !important;
  word-break: normal !important;
  height: auto;
  overflow: auto;
}
#top-chatbox-panel-welcome{
  font-weight: 700;
  color: darkslateblue;
  background-color: white;
}
#top-navigation{
  /* background-color: #61dafb; */
  float: left;
	overflow: hidden;
  width: 100%;
  height: 3vh;
  
}
#top-settings {
  overflow: hidden;
  width: 40%;
  height: 16vh;
}


/**
 * CSS CLasses
 */

.App {
  text-align: center;
  /* height: 100%; */
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.banner-top
{
  background-color: #92480b;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(189, 189, 189);
}

.App-header {
  background-color: #4c5361;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #282c34;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #17191f;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.main-list-item {
  /* background-color: whitesmoke; */
  height: 6vh;
  margin: 0;
  
}

.main-list-item-panel {
  background-color: #806d43;
  border-radius: 0.1vh;
  border: 2px solid #50434d;
  border-radius: 5px;
  border-style: dashed;
  width: 100%;
  height: 90%;
  /* margin-right: 5%;
  margin-left: 5%; */
  
}

.main-list-item-panel-label {
  float:left;
  width: 60%;
  color: #000;
  
}

.main-list-item-panel-button {
  float:left;
  width: 40%;
  color: rgb(114, 35, 218);
  
}

.main-list-item-panel-button button{
  color: orange;
  background-color: #50434d;
  
}

.top-navigation-link{
  
  float:left;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 20%;
  height: 100%;
  
  align-self: center;
  align-content: center;
  text-align: center;
}

.top-settings-option {
  float:left;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 20%;
  height: 100%;
  
  align-self: center;
  align-content: center;
  text-align: center;

}

/* Transformations */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .top-chatbox-logo {
    animation: App-logo-spin infinite 20s linear;

  }
}
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.control-group {
  padding-top: 50px;
}

label {
  width:100px;
}

#signalr-message-panel {
/*   height: calc(100vh - 200px);
 */
}


 /**
 * material
 */
 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/** GlobalChatRight **/
HTML CSS JSResult Skip Results Iframe
#msgWindow {
  /* margin-top: 20px; */
}

#msgs {
  margin: 0px 25px;
  min-height: 70vh;
  max-height: 70vh;
  /* max-height: 210px; */
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.msg {
  margin: 5px 0;
  border: 1px solid silver;
  padding: 3px 7px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
}
.msg::before, .msg::after {
  content: "";
  display: inline-block;
  bottom: 0;
  position: absolute;
  border: 1px solid silver;
}
.msg::before {
  right: -20px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.msg::after {
  right: -35px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.msg.from {
  align-self: flex-end;
}
.msg.to {
  align-self: flex-start;
}
.msg.to::before {
  right: inherit;
  left: -20px;
}
.msg.to::after {
  right: inherit;
  left: -35px;
}
.msg.typing {
  color: silver;
}

#msgForm input:focus, #msgForm button:focus {
  box-shadow: none;
}


.card-body {
  background-color: #434750;

}
.msg-timestamp {
  font-size: smaller;
}
.msg-sender {
  font-size: smaller;

}